@charset "ISO-8859-1";

input.fondoRojo{
	
	 background-color: red;
	
}


input.fondoVerde{
	background-color:green;
}

input.fondoNaranja{
	background-color:orange;
}

input.fondoAzul{
	background-color:cyan;
}


div.center{
	
position: relative;
}

div.center2{
	
 position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}