@charset "ISO-8859-1";

body {
			background-color: #f8f9fa;
		}
		.jumbotron {
			background-image: url("./img/inicio.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			height: 600px;
		}
		h1 {
			color: #ff0000;
			text-shadow: 2px 2px #00ff40;
			margin-top: 200px;
			font-size: 5em;
		}